# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environments
venv/
.venv/
.env

# Large Model Weights & Checkpoints
*.pt
*.pth
*.bin

# Local Datasets & Kaggle Downloads
Dog Emotion/
kagglehub/
data/
